/* 
	Main CSS file for styling
	Author 	: Jay Bamimore
	Date 	: 09 - 10 - 2014
*/




body.thin{
	background: rgb(37, 37, 37);
}


body.thin h1{
	color: white;
}

body.thin a{
	color: white;
	font-family: 'Ubuntu';
	font-weight: 300px;
}

body.wide{
	background: grey;
}

body.wide a{
	color: grey;
	font-family: 'Ubuntu';
	font-weight: 300px;
}

body.wider{
	background: gainsboro;

}

body.wider a{
	color: gainsboro;
	font-family: 'Ubuntu';
	font-weight: 300px;
}

h1{
	font-family: 'Ubuntu', 'Arial', 'Sans-Serif';
}

p{
	font-family: 'Ubuntu', 'Arial', 'Sans-Serif';
}

.center{
	max-width: 550px;  
  	text-align: center;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#container{
	width:100%;
  	margin:0 auto;
}

#footer {
  width: 100%;
  height:90px;
  background: rgb(37, 37, 37);
  border-top: dashed;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;  
  z-index: 10;
}

#footer p{
	color: white;
}